.responsive{
    width: 100%;
    height: auto;
}

.image-container{
    max-height: 520px;
    overflow-x: hidden;
    align-items: center;
    display: flex;
}
img{
    filter: brightness(0.5);
}
.intro{
    position: absolute;
    display: flex;
    z-index:5;
    color: white;
    text-align: center;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
   
}

.container{
    margin-inline: 12px;
}

.span{
    color: aquamarine;
}

nav{
    display: flex;
    background-color: #f1d9ab;
    color: rgb(8, 7, 7);
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
}

nav a{
    padding: 20px;
    text-decoration: none;
    
}
#logo{
    height: 40px;
}
nav a:hover{
    background-color: rgb(147, 140, 134);
}
.image-container  .intro {

font-family:"sofia", sans-serif;
font-size: 30px;
text-align: center;
 
}
q{
    text-align: center;
    font-size:20px;
}
.wrapper{
 display: flex;

 justify-content: space-around;
}
.card{
    width: 300px;
    height: 300px;
    padding: 2rem 1rem;
    position: relative;
    align-items: flex-end;
    border-radius: .5rem;
    box-shadow: 0 8px 16px 0 rgba(206, 173, 91, 0.5);
    transition: 0.5s ease-in-out;
}
.card:hover{
    transform: translateY(20px);
}
.card::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(38, 43, 43, 0.5), rgb(164, 158, 158));
    z-index: 2;
    transition: 0.5s all;
    opacity:0 ;
}
.card:hover::before{
    opacity: 1;
}
 .card img{
 width: 100%;  
 height: 100%;
 object-fit: cover;
 position:absolute;
 top: 0;
 left: 0;
}
.card .info{
    position:relative;
    z-index: 10;
    color: #b5b2b2;
    opacity:0 ;
    transform: translateY(30px);
    transition: 0.5s all;
}
.card:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.card h1,.card p{
    margin: 0;
}
.card .info .btn{
    text-decoration: none;
    font-size: 1rem;
    padding:5px 20px;
    border: 2px solid #f4efef;
    color: #d0c1c1;
    outline:none;
    cursor: pointer;
}

.container .search {
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-color: #f1d9ab;
}
  .foodinfo {

    display: flex;
    justify-content: space-around;
  }
  .search {
    float: right;
    justify-content: center;
}
 
.search button {
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
} 
/*******************************/

#search {
    width: 95%;
    position:relative; 
    align-items: center;
  }
  
  .searchterms {
    width: 150%;
    border: 1px solid #020718;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 15px 15px 15px 15px;
    outline: none;
    background-color: #f1d9ab;
  }
  
  .searchterms:focus{
    color: black;
    font-style: italic;
    font-size: larger;
    transition: all 0.3s ease;
  }
  
  .searchbtn {
    width: 40px;
    height: 36px;
    border: 1px solid #0e0e0f;
    background: #19191a;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 5px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  Final Output: